@import "scss/colors.scss";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f51b5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


html,
body {
  background-color: $color-body-background;
}

mat-divider {
  margin: 10px 0px 10px 0px !important;
}

.mat-dialog-actions {
  justify-content: end;
}

.flow-btn-bottom-right--wrap{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

mat-card {
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}