mat-card {
  font-size: 24px;
  line-height: 1.1em;
  min-height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;

  & > :first-child {
    width: 100%;
  }

  .item--text {
    margin: 50px 0 50px 0;
    text-align: center;
  }

  .back-side {
    font-size: 20px;
    font-weight: 400;
    color: #3f51b5;
  }

  .divider {
    height: 1px;
    background-color: #dcdcdc;
    margin: 0px 10% 0px 10%;
  }
}

.control-panel--wrap {
  position: fixed;
  bottom: 5%;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin: 0px 10%;
  }
}

.progress-wrap {
  color: #a1a1a1;
  margin: 20px 15%;
}
mat-card{
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
.padding-10 {
  // padding: 15px;
}
