<div *ngIf="stepperService.isReady">
    <div class="progress-wrap">
        Progress: <strong>{{stepperService.currentStepIndex + 1}}/{{stepperService.items?.length}}</strong>
        <mat-progress-bar mode="determinate" [value]="stepperService.currentProgressPers"></mat-progress-bar>
    </div>

    <div>
        <mat-card [@fadeInOut-1]>
            <div>

                <div class="item--text">
                    <mat-card-title>{{stepperService.currentItem?.frontSide}}</mat-card-title>
                </div>
                <div class="divider"></div>
                <div class="item--text back-side">
                    {{stepperService.currentItem?.backSide}}
                </div>
            </div>
        </mat-card>
    </div>

    <div class="control-panel--wrap">
        <button mat-fab color="primary" (click)="stepperService.getPreviousStep()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="stepperService.getNextStep()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>

</div>