<h1 mat-dialog-title>Create or edit</h1>
<div mat-dialog-content>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput required [(ngModel)]="model.title" cdkFocusInitial (keydown.control.enter)="closeDialog()">
        </mat-form-field>
    </p>
    <!-- <p>
        <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Conspect tags</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                    {{tag.title}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New tag..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{tag.title}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </p> -->
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button [mat-dialog-close]="model" cdkFocusInitial [disabled]="!model.title">Ok</button>
</div>