.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.router-outlet--wrap {
  padding: 10px;

  @media screen and (min-width: 1000px) {
    width: 800px;
    margin: auto;
  }

  @media screen and (max-width: 1000px) {
    width: 700px;
    margin: auto;
  }

  @media screen and (max-width: 800px) {
    width: 500px;
    margin: auto;
  }

  @media screen and (max-width: 550px) {
    width: fill-available;
    margin: auto;
  }
}

mat-drawer {
  width: 400px;
}

mat-drawer-content{
  margin-top: 10px;
}
mat-drawer-container {
  position: absolute;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0;
}

app-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

mat-nav-list{
margin-top: 20px;;
  mat-list-item{
    span{
      margin-left: 10px;
    }
  }
}
