<div>
  <h1 mat-dialog-title>Create or edit CardSet</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>title</mat-label>
      <input matInput required cdkFocusInitial [(ngModel)]="cardModel.title">
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Select category</mat-label>
      <mat-select [(ngModel)]="cardModel.category">
        <mat-option [value]="categories.Heap">Heap</mat-option>
        <mat-option [value]="categories.English">English</mat-option>
        <mat-option [value]="categories.Programming">Programming</mat-option>
        <mat-option [value]="categories.Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="cardModel" cdkFocusInitial [disabled]='!cardModel.title'>Ok</button>
  </div>
</div>