<p>
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="onMenuToggle()">
            <mat-icon class="rotate" [class.down]="toggle" [class.up]="!toggle">menu</mat-icon>
        </button>

        <ul class="breadcrumb breadcrumb--classic">
            <li>
                <a class="d-flex align-items-center" routerLink="/home">
                    <!-- <mat-icon>home</mat-icon> -->
                    <span class="ml-10">My resources</span>
                </a>
            </li>
            <li *ngFor="let item of actionBarPath">
                <a *ngIf="item.link" [routerLink]="item.link">
                    {{item.title}}
                </a>
                <a *ngIf="!item.link">
                    {{item.title}}
                </a>
            </li>
        </ul>

        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu"
            *ngIf="toolbarIcon === toolbarIcons.Menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openConspects()">
                <mat-icon>description</mat-icon>
                <span>My conspects</span>
            </button>
            <button mat-menu-item (click)="openDialogImport()">
                <mat-icon>import_export</mat-icon>
                <span>Import Set</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</p>