<p>
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <button *ngIf="toolbarIcon === toolbarIcons.BackBtn" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon" (click)="onBackClick()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <button *ngIf="toolbarIcon === toolbarIcons.Menu" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon" (click)="onMenuToggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span style="margin-left: 15px;">MemoCards</span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu"
            *ngIf="toolbarIcon === toolbarIcons.Menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openConspects()">
                <mat-icon>description</mat-icon>
                <span>My conspects</span>
            </button>
            <button mat-menu-item (click)="openDialogImport()">
                <mat-icon>import_export</mat-icon>
                <span>Import Set</span>
            </button>
            <button mat-menu-item (click)="syncData()">
                <mat-icon>sync</mat-icon>
                <span>Sync data</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</p>