$color-card-front: #fff;
$color-card-back: #f0f1f4;

mat-card {
  right: 10vw;
  left: 10vw;
  position: absolute;
  top: 15vh;
  bottom: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: $color-card-front;
  animation: color-change-reverse 0.1s linear;

  &.backSide {
    color: #3f51b5;
    background-color: $color-card-back;
    animation: color-change 0.1s linear;
  }
}

.mat-card-title {
  font-size: 35px;
  line-height: 1em;
  text-align: center;
}

.fab-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.learn-mode {
  position: absolute;
  right: 10px;
  color: #9a9fba;

  mat-icon{
    height: 40px;
    width: 40px;
    font-size: 30px;
  }
}

@keyframes color-change {
  0% {
    background-color: $color-card-front;
  }

  100% {
    background-color: $color-card-back;
  }
}

@keyframes color-change-reverse {
  0% {
    background-color: $color-card-back;
  }

  100% {
    background-color: $color-card-front;
  }
}
