<div *ngIf="stepper !== undefined">
    <div class="learn-mode" *ngIf="stepper.learnMode === learnMode.Normal" (click)="openBottomSheet()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">filter_1</mat-icon>
    </div>

    <div class="learn-mode" *ngIf="stepper.learnMode === learnMode.Reverse" (click)="openBottomSheet()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">filter_2</mat-icon>
    </div>

    <div class="padding-10" (click)="stepper.next()">
        <mat-card matRipple [matRippleRadius]="radius"
            [ngClass]="{'backSide': stepper.currentCardReviewStep === cardSide.Back}">
            <div>
                <div class="item--text">
                    <mat-card-title>{{stepper.currentText}}</mat-card-title>
                </div>
            </div>
        </mat-card>
    </div>
    <!-- <button class="fab-btn" mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="openBottomSheet()">
        <mat-icon>menu</mat-icon>
    </button> -->
</div>