<div id="test" class="wrap">
    <mat-grid-list [cols]="breakpoint" rowHeight="2:0.9" (window:resize)="onResize($event)">
        <mat-grid-tile (click)="onCardSetReviewClick()">
            <div class="content--wrap item-btn words-list-btn">
                <mat-icon>view_list</mat-icon>
                Words list
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="content--wrap item-btn training-cards-btn">
                <mat-icon>playlist_play</mat-icon>
                Training cards
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>

    <div *ngIf="cardSet && cardSet.items" class="words-list--review-wrap">
        <mat-card *ngFor="let card of cardSet?.items" matRipple>
            <div class="options">
                <mat-icon *ngIf="card.inUse" (click)="toggleWord(card)">bookmark</mat-icon>
                <mat-icon *ngIf="!card.inUse" (click)="toggleWord(card)">bookmark_outline</mat-icon>
                <!-- <mat-icon class="delete-card" (click)="openDialogDelete(card)">delete</mat-icon> -->
                <mat-icon class="delete-card" [matMenuTriggerFor]="menu">more_vert</mat-icon>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDialogEdit(card)">
                        <mat-icon >edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="openDialogDelete(card)">
                        <mat-icon >delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div>
            <div class="card-set-item--text" (click)="toggleWord(card)">

                <mat-card-title>{{card.frontSide}}</mat-card-title>
                <mat-card-subtitle>{{card.backSide}}</mat-card-subtitle>
            </div>
        </mat-card>
    </div>

    <div class="flow-btn-bottom-right--wrap">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
            (click)="openDialogCreate()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>